<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.webobs.nativeclient.acceptance">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="36" />
    <uses-permission android:name="org.webobs.nativeclient.permission.RUN_ACCEPTANCE" />
    <application android:allowBackup="false" android:debuggable="false" android:hasCode="true" />
    <instrumentation
        android:name="org.webobs.nativeclient.acceptance.WebObsAcceptanceInstrumentation"
        android:targetPackage="org.webobs.nativeclient"
        android:functionalTest="true"
        android:handleProfiling="false" />
</manifest>
